.navbar-bg {
    background-color: white !important;
}

.toolbar {
    background-color: white !important;
}

.page {
    background-color: white !important;
}

.border-image {
    border-radius: 30px;
}

.bg-pink {
    background-color: #f07 !important;
}

.text-pink {
    color: #f07 !important;
}

.fs-13 {
    font-size: 13px;
}